#details{
	list-style-type: square;
}

.Infini {
	background-color: rgba(167, 164, 168, .7);
	border-radius: 25px;
}

.hatekony-top {
	padding-top: 10rem;
	padding-bottom: calc(10rem - 56px);
  	background-image: url("../img/top.jpg");
  	background-position: center center;
  	background-size: cover;
}

.haromd-top {
	padding-top: 10rem;
	padding-bottom: calc(10rem - 56px);
  	background-image: url("../img/top.jpg");
  	background-position: center center;
  	background-size: cover;
}

.rugalmas-top {
	padding-top: 10rem;
	padding-bottom: calc(10rem - 56px);
  	background-image: url("../img/top.jpg");
  	background-position: center center;
  	background-size: cover;
}

.bg-courses {
	/*background-color:rgba(48, 8, 69, 1);*/ 
	background-color: #C5CAD2;
}

.bg-description {
	/*background: linear-gradient(to left, rgba(50, 33, 101, 1) 0%, rgba(58, 77, 126, 1) 100%);*/
	background-color: #C5CAD2;
}

table, th, td {
  border: 1px solid black;
}

#btns {
	width: 280px;
}